@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-black text-white font-serif;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Estilo padrão dos bullets */
.swiper-pagination-bullet {
  background-color: #666 !important; /* cor inativa */
  opacity: 1 !important;
}

/* Estilo do bullet ativo */
.swiper-pagination-bullet-active {
  background-color: #f97316 !important; /* ex: laranja do Tailwind (orange-500) */
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}